@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .form-group input {
                width: 100%;
                padding: 10px;
                border-radius: 3px;
                border: 1px solid #ccc;
            }

        .btn {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            text-align: center;
            text-decoration: none;
            border-radius: 3px;
        }

            .btn:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <h1>Registration Form</h1>
    <div class="container">
        <form action="@Url.Action("CreateUser","User")" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="birthdate">Birth Date:</label>
                <input type="date" id="birthdate" name="birthdate" required>
            </div>
            <input type="submit" value="Register" class="btn">
        </form>
    </div>
</body>
</html>


@*
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <header>Login</header>
    <form action="@Url.Action("CreateUser","User")" method="post">
        <input type="text" name="Name" placeholder="Enter your name">
        <input type="datetime" name="BirthDate" placeholder="Enter your Birth Date">
        <input type="submit" value="Create">
    </form>
</body>
</html>
*@
